<p id="notice"><%= notice %></p>

<h1>Bookmarks#show</h1>

<%= @bookmark.url %>
<%= @bookmark.title %>
<%= @bookmark.description %><br>

<%= link_to 'Back to Bookmarks', bookmarks_path(@bookmarks) %><br>
<%= link_to 'New Bookmark', new_bookmark_path %><br>
<%= link_to 'Edit', edit_bookmark_path(@bookmark) %>


